@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.start-page-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.bg-img {
  position: fixed;
}

.bg-img-filter {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.start-page-content {
  position: fixed;
  width: 100%;
  height: 100%;
}

.game-title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  font-family: "Permanent Marker", cursive;
  font-size: 85px;
  color: #d12020;
  text-align: center;
}

.sub-title {
  font-family: "Permanent Marker", cursive;
  font-size: 58px;
  color: #120101;
  text-align: center;
}

.game-footer-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tutorial-link,
.start-game-link {
  font-family: "Kaushan Script", cursive;
  color: rgba(246, 246, 246, 0.89);
  font-size: 45px;
  font-weight: bold;
  margin: 20px;
  padding: 0 50px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgba(246, 246, 246, 0.89);
}

.start-game-link {
  background-color: rgba(194, 41, 41, 0.897);
  border-radius: 3px;
}
